$font-main: 'Inter', sans-serif;
$color-dark: #1a1a1a;
$color-light: #f9f9f9;
$color-accent: #d3a265;

body {
  margin: 0;
  font-family: $font-main;
  background-color: $color-light;
  color: $color-dark;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 10px;
  top: auto;
  width: 36px;
  height: 36px;
  color: #000;
  border-radius: 50%;
  font-size: 16px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 1;
  }
}

.swiper-button-prev {
  left: calc(50% - 50px);
}

.swiper-button-next {
  right: calc(50% - 50px);
}
